html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #a5ec87;
}
body {
  font-family: "Handlee", cursive;
  font-size: 13pt;
  background-color: #7cee6d;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  min-width: 800px;
}
h1 {
  font-size: 15pt;
  color: #062568;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}
h1 span {
  border: 4px dashed #20bcd5;
  padding: 10px;
}
p {
  padding: 0;
  margin: 0;
}
.img-circle {
  border: 3px solid white;
  border-radius: 50%;
}
.section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#header img {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}
#header p {
  font-size: 25pt;
  color: #3b464c;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.quote {
  font-size: 12pt;
  text-align: right;
  margin-top: 10px;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 2px solid #cecece;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
.selected {
  background-color: #f36f48;
  font-weight: bold;
  color: white;
}
li {
  margin-bottom: 15px;
  font-weight: bold;
}
progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}
progress::-webkit-progress-bar {
  background: #efefef;
}
progress::-webkit-progress-value {
  background: #3fb6b2;
}
progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}
iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}
hr {
  border: 0;
  height: 1px;
  background: #f36f48;
}
form {
  text-align: center;
  margin-top: 0;
}
.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}
.submit:hover {
  background-color: #43a09d;
}
textarea {
  height: 100px;
}
input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}
.face {
  transform: scale(0.4);
  margin: 0 auto;
  display: block;
  margin-top: -35px;
  margin-bottom: -25px;
}
#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}
#contacts {
  text-align: center;
}
.copyright {
  font-size: 8pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}
footer {
  margin-top: 10px;
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #e68210 0%,
    #ddf030 51%,
    #60ff04 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.gradient-button:hover {
  background-position: right center;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#footerforpage {
  text-align: center;
}

.smallinput {
  width: 20%;
}
.smallerinput {
  width: 10%;
}
#inputsmallpr {
  width: 20%;
}
.fornum {
  width: 3%;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  padding-top: 7px;
}
.imgforpageone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
